html {
    background-color: #E6E3D8;

}

body {
    margin: 0;
    font-family: "NanumSquareNeo-R";
    color: #F55B39;
    margin-left: 15vw;
    margin-right: 15vw;
}

::-webkit-scrollbar {
    display: none;
}

